:root {
font-family: 'Roboto';

  }
 
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    background-color: #000000;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
    
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  body {
    font-family: var(--ff-primary);
    font-size: 1rem;
  }

  #body{
    background-color: #000;
  }
  
  .container {

    max-width: 100rem;
    padding-inline: 2rem;

  }
  
  
  .product-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
    
  }

  .card {
    aspect-ratio: 1 / 1.5;
    background-color: #000;

  }
  
  .card_content {
    
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
    color: #fcf2f2;
    text-align: center
  }
  
  .card_title {
    font-size: 1.25rem;
    line-height: 1.1;
  }
  
  .card_price {
    font-size: 1rem;
  }
  
  .card_img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
  }
  .card_options{
    font-size: 1rem;
    color: #fcf2f2;
  }
  input[type=submit] {
    width: 100%;
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #686767;
  }

  @media (min-width: 60em) {
    .card_img {
      aspect-ratio: 1 / 1;
    }
 
  }
    
  p.max-content {
    width: max-content;
  }
  
  p.min-content {
    width: min-content;
  }

/* Nav Bar */
#nav {
  padding-bottom: 40px;
}

#nav nav ul {

    font-family: 'Roboto';
    font-weight: bolder;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
    position: fixed;
    z-index: 1;
    
  }
  
  #nav nav ul li {
    float: left;
  }
  
  #nav nav {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;
    float: left;
  }

  
  /* Color on hover */
  #nav a:hover {
    background-color: #000000;
  }
  
  /*BUTTONS*/
  
 #nav a:link,
  a:visited {
    background-color: #424242;
    color: #000000;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  /* Color on hover */
 #nav a:hover {
    background-color: #424242;
    color: #fcf2f2;
  }


  /*Footer*/
  .footer{
    text-align: center;
    margin-top: 30px;
  }
  .footer img {
    max-height: 200px;
    max-width: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
 .footer a:hover {
    background-color: #000000;
    color: #fcf2f2;
  }

  .footer   
  a:link,
  a:visited{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .fa-brands:hover {
    color: #3a3939;
  }


  .card_content a{
    width: 100%;
    background-color: #424242;
    color: white;
    padding: 14px 14px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    
  }
  
 .card_content a:hover {
    background-color: #686767;
  }

.btn a{
  margin-top: 20px;
  width: 100%;
  width: 100%;
  background-color: #424242;
  color: white;
  padding: 14px 14px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.box section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  vertical-align: middle;
}
 .box img {
  display: block;
  align-self:center;
  max-height: 100%;
  
 }
 .box {
  color: #fcf2f2;
 }

 #body .content{
  margin-top: 30px;
  max-width: 1fr;
 }
 .index p{
  margin: 30px 30px;
  color: #fcf2f2;
 }
.content
{color: #fcf2f2;}