.btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;

  a {
    background-color: #424242;
    padding: 8px 20px; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: #686767;
    }
  }
}