
#nav {
    padding-bottom: 40px;
    a:link,
    a:visited {
    background-color: #424242;
    color: #ffffff;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    background-color: #686767;
    color: #fcf2f2;
  }
    nav {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      float: left;

      ul {
        font-weight: bolder;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #424242;
        position: fixed;
        z-index: 1;
        li {
            float: left;
            
          }
      }  
    }
  }  

    img {
      max-width: 100%;
      display: block;
    }