:root {
    font-family: 'Roboto';
    
      }
     
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        
      
      }

      ul[role="list"],
      ol[role="list"] {
        list-style: none;
      }

      html:focus-within {
        scroll-behavior: smooth;
      }
      
      #body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        font-size: 1rem;
        background-color: #000;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      