:root {
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #000;
  margin: 0px;
}

input,
button,
textarea,
select {
  font: inherit;
}

.index {
  margin: auto;
}
.index video {
  width: 100%;
}
.index img {
  margin: auto;
}

.content {
  margin: auto;
  display: grid;
  grid-template-columns: 2;
}
.content p,
.content h1,
.content li {
  color: #fcf2f2;
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}
.content .child {
  margin: 20px 0 20px 0;
}

.logomain {
  height: 100%;
}
.logomain img {
  margin: auto;
  padding: 50px;
}

.btn {
  margin: auto;
}

img {
  max-width: 100%;
  display: block;
}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
  text-align: center;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
  border-radius: 5px;
}
.callout-header h1 {
  font-size: 2rem;
}
.callout-header h2 {
  font-size: 1.3rem;
}
.callout-header h3 {
  font-size: 1rem;
  font-weight: 500;
}

.callout-container {
  padding: 15px;
  background-color: #777777;
  color: black;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: #212121;
}

.product-grid {
  --column-count: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
}

@media (max-width: 425px) {
  .product-grid {
    --column-count: 1;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .product-grid {
    --column-count: 2;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product-grid {
    --column-count: 3;
  }
}
@media (min-width: 1025px) {
  .product-grid {
    --column-count: 4;
  }
  /* :nth-last-child(1){
     grid-template-columns: 1;
     justify-items: center;
     align-items: center;
   }*/
}
.container {
  max-width: 100rem;
  padding-inline: 2rem;
  margin: auto;
}
.container .product-grid .card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1.5;
  background-color: #000;
}
.container .product-grid .card .card_img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (min-width: 60em) {
  .container .product-grid .card .card_img {
    aspect-ratio: 1/1;
  }
}
.container .product-grid .card p.max-content {
  width: max-content;
}
.container .product-grid .card p.min-content {
  width: min-content;
}
.container .product-grid .card .card_content {
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  color: #fcf2f2;
  text-align: center;
}
.container .product-grid .card .card_title {
  font-size: 1.25rem;
  line-height: 1.1;
}
.container .product-grid .card .card_title p {
  margin-bottom: 20px;
}
.container .product-grid .card .card_price {
  font-size: 1rem;
}
.container .product-grid .card .card_options {
  font-size: 1rem;
  background-color: #7e7e7e;
  border: none;
  border-radius: 4px;
  color: #fcf2f2;
}
.container .product-grid .card input[type=submit] {
  width: 100%;
  background-color: #424242;
  color: #fcf2f2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container .product-grid .card input[type=submit]:hover {
  background-color: #686767;
}

.box {
  color: #fcf2f2;
}
.box section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  vertical-align: middle;
}
.box img {
  display: block;
  align-self: center;
  max-height: 100%;
}

.box div {
  color: white;
  font-weight: bolder;
}
.box a {
  width: 100%;
  color: white;
  margin: auto;
  padding: 14px 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}
.box a:hover {
  color: #686767 !important;
  background-color: #000;
}

.track-list {
  display: grid;
  align-content: center;
  padding: 20px;
}
.track-list .track {
  margin-top: 20px;
  grid-gap: 10px;
}
.track-list .track .track-child {
  justify-content: flex-start;
}

.album-container {
  --column-count: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
  padding: 20px;
}

@media (max-width: 1023px) {
  .album-container {
    --column-count: 1;
  }
}
@media (min-width: 1024px) {
  .album-container {
    --column-count: 2;
  }
}
.event-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.event-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border-top: 1px solid rgba(124, 124, 124, 0.25);
}

.event-details {
  color: #fff;
  display: grid;
  grid-gap: 10px;
}

.event-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.event-venue,
.event-location {
  margin-bottom: 10px;
}

.tour img {
  margin: auto;
  max-width: 768px;
  max-width: 100%;
  display: block;
}

.btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.btn a {
  background-color: #424242;
  padding: 8px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}
.btn a:hover {
  background-color: #686767;
}

input[type=text], select, input[type=date], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  font-size: 1rem;
  background-color: #d2d1d1;
  border: none;
  border-radius: 4px;
  color: #000;
  font: inherit;
  font-weight: 500;
}

::placeholder {
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

input[type=submit] {
  width: 100%;
  background-color: #424242;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  font-weight: 800;
}

input[type=submit]:hover {
  background-color: #686767;
}

.contact {
  border-radius: 5px;
  padding: 20px;
  color: #fcf2f2;
}

@media (min-width: 769px) {
  .contact {
    width: 769px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.top {
  --offset: 50px;
  position: sticky;
  bottom: 20px;
  margin-left: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #424242;
  border-radius: 5px;
  white-space: nowrap;
}

a:hover {
  background-color: #686767;
}

header {
  background-color: #515151;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fcf2f2;
  font-size: 1.2rem;
  font-weight: bold;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  height: 40px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #b5b5b5;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 62px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

.dropdown_menu.open {
  height: 250px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu li a {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
header a:hover {
  background-color: unset;
  color: #343434;
}

.social-grid {
  display: grid;
  --column-count: 6;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .social-grid {
    --column-count: 3;
  }
}
@media (min-width: 769px) {
  .social-grid {
    --column-count: 6;
    max-width: 425px;
  }
}
.footer {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}
.footer img {
  max-height: 200px;
  max-width: 100px;
  margin: 20px auto 20px auto;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.footer a .fa-brands:hover {
  color: #3a3939;
}

a:link,
a:visited {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-card {
  gap: 15px;
}

.footer figure img {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.footer figure:hover img {
  opacity: 0.3;
}

.footer-container a:hover {
  color: #686767 !important;
  background-color: #000;
}

/*# sourceMappingURL=style.css.map */
