:root {
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

#body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #000;
}

input,
button,
textarea,
select {
  font: inherit;
}

.social-grid {
  display: grid;
  --column-count: 6;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .social-grid {
    --column-count: 3;
  }
}
@media (min-width: 769px) {
  .social-grid {
    --column-count: 6;
    max-width: 425px;
  }
}
.footer {
  text-align: center;
  margin: auto;
  max-width: 800px;
}
.footer img {
  max-height: 200px;
  max-width: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.footer a .fa-brands:hover {
  color: #3a3939;
}
.footer a:link,
.footer a:visited {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer .social-card {
  gap: 15px;
}

#nav {
  padding-bottom: 40px;
}
#nav a:link,
#nav a:visited {
  background-color: #424242;
  color: #ffffff;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#nav a:hover {
  background-color: #686767;
  color: #fcf2f2;
}
#nav nav {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;
}
#nav nav ul {
  font-weight: bolder;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424242;
  position: fixed;
  z-index: 1;
}
#nav nav ul li {
  float: left;
}

img {
  max-width: 100%;
  display: block;
}

.index {
  margin: auto;
}
.index video {
  width: 100%;
}
.index img {
  margin: auto;
}

.content .tour {
  margin: auto;
}
.content h1,
.content li {
  color: #fcf2f2;
}

.product-grid {
  --column-count: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
}

@media (max-width: 425px) {
  .product-grid {
    --column-count: 1;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .product-grid {
    --column-count: 2;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product-grid {
    --column-count: 3;
  }
}
@media (min-width: 1025px) {
  .product-grid {
    --column-count: 4;
  }
  /* :nth-last-child(1){
     grid-template-columns: 1;
     justify-items: center;
     align-items: center;
   }*/
}
.container {
  max-width: 100rem;
  padding-inline: 2rem;
  margin: auto;
}
.container .product-grid .card {
  aspect-ratio: 1/1.5;
  background-color: #000;
}
.container .product-grid .card .card_img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (min-width: 60em) {
  .container .product-grid .card .card_img {
    aspect-ratio: 1/1;
  }
}
.container .product-grid .card p.max-content {
  width: max-content;
}
.container .product-grid .card p.min-content {
  width: min-content;
}
.container .product-grid .card .card_content {
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  color: #fcf2f2;
  text-align: center;
}
.container .product-grid .card .card_title {
  font-size: 1.25rem;
  line-height: 1.1;
}
.container .product-grid .card .card_title p {
  margin-bottom: 20px;
}
.container .product-grid .card .card_price {
  font-size: 1rem;
}
.container .product-grid .card .card_options {
  font-size: 1rem;
  background-color: #424242;
  border: none;
  border-radius: 4px;
  color: white;
}
.container .product-grid .card input[type=submit] {
  width: 100%;
  background-color: #424242;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container .product-grid .card input[type=submit]:hover {
  background-color: #686767;
}
.container .product-grid .card a {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.box {
  color: #fcf2f2;
}
.box section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  vertical-align: middle;
}
.box img {
  display: block;
  align-self: center;
  max-height: 100%;
}

.box div {
  color: white;
  font-weight: bolder;
}
.box a {
  width: 100%;
  color: white;
  margin: auto;
  padding: 14px 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}
.box a:hover {
  color: #686767 !important;
  background-color: #000;
}

.track-list {
  display: grid;
  align-content: center;
  padding: 20px;
}
.track-list .track {
  margin-top: 20px;
  grid-gap: 10px;
}
.track-list .track .track-child {
  justify-content: flex-start;
}

.album-container {
  --column-count: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
  padding: 20px;
}

@media (max-width: 1023px) {
  .album-container {
    --column-count: 1;
  }
}
@media (min-width: 1024px) {
  .album-container {
    --column-count: 2;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.event-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.event-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border-top: 1px solid rgba(124, 124, 124, 0.25);
}

.event-details {
  color: #fff;
  display: grid;
  grid-gap: 10px;
}

.event-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.event-venue,
.event-location {
  margin-bottom: 10px;
}

.tour img {
  margin: auto;
}

.btn a {
  width: 100%;
  color: white;
  margin: auto;
  padding: 14px 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #424242;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  justify-self: end;
  align-self: center;
}

.btn:hover {
  background-color: #686767;
}

/*# sourceMappingURL=style.css.map */
